CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
lib/
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
tests/CMakeCache.txt
tests/CMakeFiles/
tests/Makefile
tests/cmake_install.cmake
tests/lib/
runAllTests